@font-face {
    font-family: "Lato Regular";
    src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("assets/fonts/Lato-Light.ttf");
}

body {
    font-family: 'Open Sans';
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}



.slash-menu {
    display: none;
    width: 50px;
}

@media (max-width:768px) {
    .slash-menu {
        display: block;
    }
}

.slash-menu__button {
    display: block;
    width: 50px;
    height: 50px;
    z-index: 4;
}


#lines {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 7px;
    z-index: 3;

}


#lines:nth-child(1) {
    transition: all 0.3s;
    top: 34px;
}

#lines:nth-child(2) {
    top: 41px;
    transition: all 0.3s;
}


#lines:nth-child(3) {
    top: 48px;
    transition: all 0.3s;
}

.menu-nav {
    position: absolute;
    width: 240px;
    height: 380px;
    background-color: #2d303a;
    top: 0px;
    z-index: 2;
    display: none;
}


.menu-nav a {
    text-decoration: none;
    font-family: 'Lato';
    text-transform: uppercase;
    display: block;
    margin-left: 75px;
    width: 100px;
    margin-bottom: 12px;
    font-weight: bold;
    color: #fff;

}

.menu-nav a:hover {
    color: #e76962;
}


.menu-nav a:first-child {
    margin-top: 123px;
}

header {
    position: fixed;
    width: 1020px;
    height: 90px;
    background-color: #2d303a;
    margin: auto;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    z-index: 999;
}

@media (max-width:1020px) {
    header {
        width: 768px;
    }


    .header__img {
        padding-left: 610px;

    }
}

@media (max-width:768px) {
    header {
        max-width: 375px;
    }

    .header__hotbar {
        display: none;
    }

}

.header__img {
    display: grid;
    padding-left: 40px;
}

@media (max-width:768px) {
    .header__img {
        padding-left: 0;
        z-index: 4;
        margin-bottom: 27px;
        transition: all 0.3s;
    }
}

.header__hotbar {
    justify-self: end;
    padding-right: 40px;
    padding-top: 4px;
}

.header__hotbar ol {
    display: inline-grid;
    padding-left: 25px;
}

.header__hotbar ol a {
    font-size: 12px;
    line-height: 6px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.header__hotbar ol a:hover {
    color: #e76962;
    cursor: pointer;
}


.header__bottom-line {
    margin: 0 auto;
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

.slider {
    width: 1020px;
    height: 595px;
    margin: 84px auto 0;
    background-color: #f06c64;
    overflow: hidden;
}

#black-vertical {
    height: 333px;
    width: 188px;
    position: relative;
    margin: 0;
    top: -1087px;
    left: 25px;
    background-color: black;
    display: none;
    float: left;
}

#iphone1 {
    position: relative;
    top: -743px;
    left: 184px;
    width: 40px;
    height: 40px;
    /* border: 2px solid black; */
    float: left;
    border-radius: 19px;
}

#black-horizontal {
    height: 188px;
    width: 333px;
    position: relative;
    bottom: 1015px;
    right: 146px;
    background-color: black;
    float: right;
    display: none;
}

#iphone2 {
    position: relative;
    bottom: 941px;
    right: 529px;
    width: 40px;
    height: 40px;
    border-radius: 19px;
    float: right;
    /* border: 2px solid black; */
}

#black-central {
    position: relative;
    height: 354px;
    width: 200px;
    background-color: black;
    top: -1094px;
    left: 398px;
    display: none;
}

#iphone3 {
    position: relative;
    width: 45px;
    height: 45px;
    /* border: 2px solid black; */
    float: left;
    top: -729px;
    left: 419px;
    border-radius: 27px;
}

.slide1 {
    position: relative;
    left: 0;
    transition: all 1s;
}

.slide2 {
    position: relative;
    top: -603px;
    left: 1020px;
    transition: all 1s;
}


@media (max-width:1020px) {
    .slider {
        max-width: 768px;
        height: 450px;
    }
}

@media (max-width:768px) {
    .slider {
        max-width: 375px;
        height: 280px;
    }
}

#chev-left,
#chev-right {
    position: relative;
}

#chev-left {
    left: 42px;
    top: -940px;
    float: left;
}

@media (max-width:1020px) {
    #chev-left {
        left: 37px;
        top: -211px;
    }
}

@media (max-width:768px) {
    #chev-left {
        left: 7px;
        top: -132px;
    }
}

#chev-right {
    right: 36px;
    top: -940px;
    float: right;
}

@media (max-width:1020px) {
    #chev-right {
        left: 710px;
        top: -238px;
    }
}

@media (max-width:768px) {
    #chev-right {
        left: 353px;
        top: -159px;
    }
}


button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 16px;
    height: 27px;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.chev-left {
    position: relative;
    left: -69px;
    top: 255px;
}

.chev-right {
    position: relative;
    right: -538px;
    top: 134px;
}

/* .slider__bottom-line {
    margin: 0 auto;
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
} */

.services__title {
    width: 1020px;
    margin: 0 auto;
    background-color: #f2f2f2;
    height: 220px;
    padding-top: 59px;
}

@media (max-width:1020px) {
    .services__title {
        max-width: 768px;
    }
}

@media (max-width:768px) {
    .services__title {
        max-width: 375px;
    }
}

.services__title-title {
    font-size: 30px;
    font-family: "Lato black", "sans serif";
    margin: 0;
    letter-spacing: -0.2px;
    color: #666d89;
    font-weight: bold;
    padding: 0 40px;
}

.services__title-text {
    font-size: 18px;
    font-family: "Lato light";
    color: #767e9e;
    line-height: 1.667;
    padding: 0 40px;
}

.services {
    width: 1020px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 0 40px;
    height: 274px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 85px 85px;
    row-gap: 38px;
    column-gap: 20px;
    overflow: hidden;
}

@media (max-width:1020px) {
    .services {
        max-width: 768px;
        height: 397px;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2px;
    }
}

@media (max-width:768px) {
    .services {
        max-width: 375px;
        height: 992px;
        grid-template-columns: 1fr;
        padding-top: 171px;
    }
}

ervices img {
    float: left;
}

h4 {
    font-size: 18px;
    font-family: "Lato", "sans serif";
    color: #666d89;
    margin: 0;
    margin-left: 80px;
    line-height: 0.992;
    margin-top: -64px;
}

@media(max-width:768px) {
    h4 {
        margin-top: -62px;
    }
}

.services p {
    width: 220px;
    height: 60px;
    overflow: hidden;
    font-size: 12px;
    font-family: "Lato", "sans serif";
    margin: 0;
    margin-left: 80px;
    margin-top: 9px;
    color: #767e9e;
    line-height: 22px;
    text-align: justify;
    font-weight: 300;

}

.services__bottom-line {
    height: 6px;
    margin: 0 auto;
    width: 1020px;
    background-color: #fff;
}

body {
    font-family: 'Lato';
    margin-top: 0px;
    margin-left: 0;
    padding: 0;
}

.main {
    height: 863px;
    width: 1020px;
    background-color: #2d303a;
    margin: 0 auto;

}

@media (max-width:1020px) {
    .main {
        max-width: 768px;
        height: 1120px;
    }
}

@media (max-width:768px) {
    .main {
        max-width: 375px;
        height: 810px;
    }
}

.portfolio__title {
    margin: 0;
    padding: 69px 40px;
    padding-bottom: 0px;
    font-family: 'Lato', 'sans serif';
    font-weight: 900;
    font-size: 30px;
    line-height: 0.595;
    color: rgb(102, 109, 137);
    letter-spacing: -0.1px;
}



.portfolio__title-about {
    color: #767e9e;
    font-size: 18px;
    font-family: "Lato";
    font-weight: 300;
    margin: 0;
    padding: 27px 40px;
    padding-bottom: 0;
    line-height: 30px;
}



.portfolio-nav {
    margin-top: 10px;
    margin-bottom: 0;
}



.portfolio-nav ol {
    display: inline-grid;
    align-content: center;
    margin-right: 4.4px;
    height: 22px;
    border: 1px solid #666d89;
    color: #767e9e;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    padding: 0 7.3px;
}

.portfolio-nav ol:hover {
    border: 1px solid #dedede;
    color: #dedede;
    cursor: pointer;
}

.pictures {
    width: 1020px;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 19px;
}

@media (max-width:1020px) {
    .pictures {
        max-width: 768px;
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media (max-width:768px) {
    .pictures {
        max-width: 375px;
        grid-template-columns: 1fr 1fr;
        row-gap: 13px;
        column-gap: 10px;
    }

    .pictures div:nth-child(1n+9) {
        visibility: hidden;
    }
}

.pictures div:nth-child(1n+13) {
    visibility: hidden;
}

.pictures div img {
    /* transition: all 0.3s; */
}

.pictures div img:hover {
    cursor: pointer;
}

.pictures div {
    height: 187px;
    width: 220px;
    /* transition: all 0.3s; */
}

@media (max-width:768px) {
    .pictures div {
        height: 115px;
        width: 20px;
    }

    .pictures div img {
        height: 115px;
    }
}

.main__bottom-line {
    width: 1020px;
    height: 6px;
    background-color: #323746;
    margin: 0 auto;
}

.about {
    height: 218px;
    width: 1020px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

@media (max-width:1020px) {
    .about {
        max-width: 768px;

    }
}

@media (max-width:768px) {
    .about {
        max-width: 375px;
        height: 385px;
    }
}

.about__title {
    margin: 0;
    padding: 69px 40px;
    padding-bottom: 0px;
    font-family: 'Lato', 'sans serif';
    font-weight: 900;
    font-size: 30px;
    line-height: 0.595;
    color: rgb(102, 109, 137);
    letter-spacing: -0.1px;
}

.about__title-text {
    color: #767e9e;
    font-size: 18px;
    font-family: "Lato";
    font-weight: 300;
    margin: 0;
    padding: 27px 40px;
    padding-bottom: 0;
    line-height: 30px;
    letter-spacing: 0.145px;
}

.about__item {
    margin: 0 auto;
    padding: 0 40px;
    height: 511px;
    max-width: 1020px;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

@media (max-width:1020px) {
    .about__item {
        max-width: 768px;
        height: 410px;
        grid-template-columns: 218px 218px 218px;
    }

    .about__item div img {
        width: 218px;
    }

    .about__item p {
        width: 219px;

    }
}

@media (max-width:768px) {
    .about__item {
        max-width: 375px;
        grid-template-columns: 1fr;
        height: 1500px;
    }

    .about__item div img {
        width: 300px;
    }

    .about__item p {
        width: 300px;

    }
}


.about__item div img:last-child {
    width: auto;
}

.about__item h3 {
    width: 300px;
    height: 32px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding-top: 14px;
    overflow: hidden;
}

.about__item p {
    width: 300px;
    height: 52px;
    text-align: justify;
    margin: 0;
    font-size: 12px;
    line-height: 1.797;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    padding-top: 10px;
    letter-spacing: -0.08px;
    overflow: hidden;
}

@media (max-width:1020px) {
    .about__item p {
        width: 219px;
        height: 67px;
        overflow: visible;
    }
}

@media (max-width:768px) {
    .about__item p {
        width: 298px;
        height: 48px;
        overflow: hidden;
    }
}

.social {
    margin: 0;
    padding: 0;
    padding-top: 24px;
}

.social ol {
    display: inline-grid;
    padding: 0;
    padding-right: 5px;
}


.social__bottom-line {
    margin: 0 auto;
    width: 1020px;
    height: 6px;
    background-color: #fff;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    padding-top: 0px;
}

.getaquote {
    height: 654px;
    max-width: 1020px;
    margin: -1px auto;
    padding: 0;
    background-color: #f06c64;
}

@media (max-width:1020px) {
    .getaquote {
        max-width: 768px;
    }
}

@media (max-width:768px) {
    .getaquote {
        width: 375px;
        height: 1076px;
    }
}

.getaquote h1 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 68px;
    padding-left: 40px;
    margin: 0;
}



.getaquote p {
    /* width: 940px; */
    height: 57px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width:768px) {
    .getaquote p {
        width: 375px;
        height: 220px;
    }
}

.form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 38px 40px;

}

@media (max-width:768px) {
    .form {
        display: block;
        height: 300px;
    }
}

input,
textarea {
    outline: none;
    border: none;
}

.form__input {
    height: 365px;
}

.form__input input {
    display: block;
    width: 619px;
    height: 38px;
    margin-bottom: 16px;
    background-color: #d6564f;
    border-radius: 5px;
    padding: 7px 15px;
}

@media (max-width:1020px) {

    .form__input input {
        width: 417px;
    }
}

@media (max-width: 768px) {
    .form__input input {
        width: 300px;
    }
}

.form__input input::placeholder,
#describe::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: rgb(244, 140, 143);
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

#describe {
    width: 619px;
    height: 202px;
    resize: none;
    padding: 7px 15px;
    background-color: #d6564f;
    border-radius: 5px;
}

@media (max-width:1020px) {

    #describe {
        width: 417px;
    }
}

@media (max-width: 768px) {
    #describe {
        width: 300px;
    }
}

.form__contact {
    height: 365px;
}

.form__contact h3 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding-left: 14px;
}

@media (max-width: 768px) {
    .form__contact h3 {
        width: 300px;
        margin-top: 87px;
    }
}

.form__contact p,
.contact div span,
.contact div span a {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 14px;
    padding-top: 10px;
}

#contact-text {
    width: 313px;
    height: 96px;
    overflow: hidden;
    text-align: justify;
}

@media (max-width:1020px) {

    #contact-text {
        width: 252px;
        height: 120px;
    }
}

.form__contact h3 .contact div span a {
    text-decoration: none;
    padding: 0;
}

.contact {
    padding-top: 21px;
    padding-left: 10px;
}

.contact div span {
    padding-top: 0;
    padding-left: 26px;
    white-space: nowrap;
}

#shit {
    padding-left: 40px;
}

#first-icon {
    width: 20px;
    height: 22px;
    background: url(assets/contact-icons/location.png) center no-repeat;
}

#second-icon {
    width: 20px;
    height: 22px;
    background: url(assets/contact-icons/phone.png) center no-repeat;
}

#third-icon {
    width: 20px;
    height: 22px;
    background: url(assets/contact-icons/mail.png) center no-repeat;
}

.footer-bottom-line {
    margin: 28px auto;
    margin-bottom: 0;
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

@media (max-width:1020px) {

    .footer-bottom-line,
    .services__bottom-line,
    .social__bottom-line,
    .main__bottom-line,
    .slider__bottom-line,
    .header__bottom-line {
        width: 768px;
    }

}

@media (max-width:768px) {

    .footer-bottom-line,
    .services__bottom-line,
    .social__bottom-line,
    .main__bottom-line,
    .slider__bottom-line,
    .header__bottom-line {
        width: 375px;
    }

}

.footer-copyright {
    margin: 0 auto;
    padding: 0 40px;
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


@media (max-width:1020px) {

    .footer-copyright {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .footer-copyright {
        width: 375px;
        margin-top: 400px;
    }
}

#copyright p {
    padding: 0;
    margin-top: 27px;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

@media (max-width:768px) {

    #copyright p {
        display: none;
    }
}


#footer-icons ul {
    margin: 0;
    padding: 0;
    margin-left: 320px;
    margin-top: 22px;

}

@media (max-width:1020px) {

    #footer-icons ul {
        margin-left: 196px;
    }
}

@media (max-width:768px) {

    #footer-icons ul {
        margin-left: -75px;
    }
}

#footer-icons ul ol {
    display: inline-block;
    padding: 0 1px;
}


#footer-icons ul ol:hover {
    cursor: pointer;
}

#footer-icons ul ol:last-child {
    padding-right: 0;
}

#footer-icons ul ol:nth-child(3) {
    padding-left: 4px;
}

#footer-icons ul ol:first-child(padd) #submit {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #d6564f;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

#submit {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #d6564f;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

#submit:hover {
    border: 1px solid #f0d8d9;
}

.modal {
    width: 400px;
    height: 115px;
    border: 1px solid #777;
    position: fixed;
    bottom: 340px;
    left: 34%;
    background-color: #f2f2f2;
    display: none;
    border-radius: 20px;
}

.modal p {
    text-align: center;
    margin: 0;
    padding: 0;

}

.modal p:first-child {
    margin-top: 10px;
}

#ok {

    border: 1px solid black;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 21px;
    margin-left: 5px;
}

#ok:hover {
    background-color: #777;
    color: white;
}
