@font-face {
    font-family: "Lato Regular";
    src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("assets/fonts/Lato-Light.ttf");
}

body {
    font-family: 'Open Sans';
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

header {
    width: 1020px;
    height: 90px;
    background-color: #2d303a;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.header__img {
    display: grid;
    padding-left: 40px;
}

.header__hotbar {
    justify-self: end;
    padding-right: 40px;
    padding-top: 4px;
}

.header__hotbar ol {
    display: inline-grid;
    padding-left: 25px;
}

.header__hotbar ol a {
    font-size: 12px;
    line-height: 6px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.header__hotbar ol a:hover {
    color: #e76962;
}

.header__bottom-line {
    margin: 0 auto;
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

.slider {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: auto;
    width: 1020px;
    height: 592px;
    margin: 0 auto;
    background-color: #f06c64;
}

.slider__phone-vertical {
    display: grid;
    justify-self: center;
    align-self: center;
    margin-left: 25px;
    margin-top: -33px;
}

.slider__phone-vertical img {
    border-radius: 27px;
}

.slider__phone-horizontal {
    display: grid;
    justify-self: center;
    align-self: center;
    margin-left: -123px;
    margin-top: -33px;
}

.slider__phone-horizontal img {
    border-radius: 27px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 16px;
    height: 27px;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.chev-left {
    position: relative;
    left: -69px;
    top: 255px;
}

.chev-right {
    position: relative;
    right: -538px;
    top: 134px;
}

.slider__bottom-line {
    margin: 0 auto;
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

.services__title {
    width: 1020px;
    margin: 0 auto;
    background-color: #f2f2f2;
    height: 220px;
    padding-top: 59px;
}

.services__title-title {
    font-size: 30px;
    font-family: "Lato black", "sans serif";
    margin: 0;
    letter-spacing: -0.2px;
    color: #666d89;
    font-weight: bold;
    padding: 0 40px;
}

.services__title-text {
    font-size: 18px;
    font-family: "Lato light";
    color: #767e9e;
    line-height: 1.667;
    padding: 0 40px;
}

.services {
    width: 1020px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 0 40px;
    height: 275px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 85px 85px;
    row-gap: 38px;
    column-gap: 20px;
    overflow: hidden;
}

.services img {
    float: left;
}

h4 {
    font-size: 18px;
    font-family: "Lato", "sans serif";
    color: #666d89;
    margin: 0;
    margin-left: 80px;
    line-height: 0.992;
}

.services p {
    width: 220px;
    height: 60px;
    overflow: hidden;
    font-size: 12px;
    font-family: "Lato", "sans serif";
    margin: 0;
    margin-left: 80px;
    margin-top: 9px;
    color: #767e9e;
    line-height: 22px;
    text-align: justify;
    font-weight: 300;

}

.services__bottom-line {
    height: 6px;
    margin: 0 auto;
    width: 1020px;
    background-color: #fff;
}

body {
    font-family: 'Lato';
    margin-top: 0px;
    margin-left: 0;
    padding: 0;
}

.main {
    height: 864px;
    width: 1020px;
    background-color: #2d303a;
    margin: 0 auto;

}

.portfolio__title {
    margin: 0;
    padding: 70px 40px;
    padding-bottom: 0px;
    font-family: 'Lato', 'sans serif';
    font-weight: 900;
    font-size: 30px;
    line-height: 0.595;
    color: rgb(102, 109, 137);
    letter-spacing: -0.1px;
}

.portfolio__title-about {
    color: #767e9e;
    font-size: 18px;
    font-family: "Lato";
    font-weight: 300;
    margin: 0;
    padding: 27px 40px;
    padding-bottom: 0;
    line-height: 30px;
}

.portfolio-nav {
    margin-top: 10px;
    margin-bottom: 0;
}

.portfolio-nav ol {
    display: inline-grid;
    align-content: center;
    margin-right: 4.4px;
    height: 22px;
    border: 1px solid #666d89;
    color: #767e9e;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    padding: 0 7.3px;
}

.portfolio-nav ol:hover {
    border: 1px solid #dedede;
    color: #dedede;
    cursor: pointer;
}

.pictures {
    width: 1020px;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 19px;
}

.pictures div:nth-child(1n+13) {
    visibility: hidden;
}

.pictures div {
    height: 187px;
    width: 220px;
}

.main__bottom-line {
    width: 1020px;
    height: 6px;
    background-color: #323746;
    margin: 0 auto;
}

.about {
    height: 218px;
    width: 1020px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.about__title {
    margin: 0;
    padding: 68px 40px;
    padding-bottom: 0px;
    font-family: 'Lato', 'sans serif';
    font-weight: 900;
    font-size: 30px;
    line-height: 0.595;
    color: rgb(102, 109, 137);
    letter-spacing: -0.1px;
}

.about__title-text {
    color: #767e9e;
    font-size: 18px;
    font-family: "Lato";
    font-weight: 300;
    margin: 0;
    padding: 27px 40px;
    padding-bottom: 0;
    line-height: 30px;
    letter-spacing: 0.145px;
}

.about__item {
    margin: 0 auto;
    padding: 0 40px;
    height: 510px;
    width: 1020px;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.about__item h3 {
    width: 300px;
    height: 32px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding-top: 14px;
    overflow: hidden;
}

.about__item p {
    width: 300px;
    height: 52px;
    text-align: justify;
    margin: 0;
    font-size: 12px;
    line-height: 1.797;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    padding-top: 10px;
    letter-spacing: -0.08px;
    overflow: hidden;
}

.social {
    margin: 0;
    padding: 0;
    padding-top: 23px;
}

.social ol {
    display: inline-grid;
    padding: 0;
    padding-right: 5px;
}


.social__bottom-line {
    margin: 0 auto;
    width: 1020px;
    height: 6px;
    background-color: #f2f2f2;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    padding-top: 0px;
}

.getaquote {
    height: 654px;
    width: 1020px;
    margin: 0 auto;
    padding: 0;
    background-color: #f06c64;
}

.getaquote h1 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 66px;
    padding-left: 40px;
    margin: 0;
}

.getaquote p {
    /* width: 940px; */
    height: 57px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 38px 40px;

}

input,
textarea {
    outline: none;
    border: none;
}

.form__input {
    height: 365px;
}

.form__input input {
    display: block;
    width: 619px;
    height: 38px;
    margin-bottom: 16px;
    background-color: #d6564f;
    border-radius: 5px;
    padding: 7px 15px;
}

.form__input input::placeholder,
#describe::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: rgb(244, 140, 143);
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

#describe {
    width: 619px;
    height: 202px;
    resize: none;
    padding: 7px 15px;
    background-color: #d6564f;
    border-radius: 5px;
}

.form__contact {
    height: 365px;
}

.form__contact h3 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding-left: 14px;
}

.form__contact p,
.contact div span,
.contact div span a {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 14px;
    padding-top: 10px;
}

#contact-text {
    width: 313px;
    height: 96px;
    overflow: hidden;
    text-align: justify;
}

.contact div span a {
    text-decoration: none;
    padding: 0;
}

.contact {
    padding-top: 21px;
    padding-left: 10px;
}

.contact div span {
    padding-top: 0;
    padding-left: 26px;
    white-space: nowrap;
}

#shit {
    padding-left: 40px;
}

#first-icon {
    width: 20px;
    height: 22px;
    background: url(assets/contact-icons/location.png) center no-repeat;
}

#second-icon {
    width: 20px;
    height: 22px;
    background: url(assets/contact-icons/phone.png) center no-repeat;
}

#third-icon {
    width: 20px;
    height: 22px;
    background: url(assets/contact-icons/mail.png) center no-repeat;
}

.footer-bottom-line {
    margin: 28px auto;
    margin-bottom: 0;
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

.footer-copyright {
    margin: 0 auto;
    padding: 0 40px;
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#copyright p {
    padding: 0;
    margin-top: 27px;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}



#footer-icons ul {
    margin: 0;
    padding: 0;
    margin-left: 316px;
    margin-top: 22px;

}

#footer-icons ul ol {
    display: inline-block;
    padding: 0 2px;
}

#footer-icons ul ol:hover {
    cursor: pointer;
}

#footer-icons ul ol:last-child {
    padding-right: 0;
}

#submit {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #d6564f;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

#submit:hover {
    border: 1px solid #f0d8d9;
}
